
.black-layer {
    position: fixed;
    top:0;
    left:0;
    background-color:#2c3035;
    opacity: 0.7;
    width:100%;
    height:100%;
    z-index:51;
}


.login-content-container  {
    overflow:hidden;

    /** container **/
    position:fixed;
    height: 465px;
    width: 756px;
    background-color:#2c3035;
    z-index:55;
    border-radius:15px;

    /** center **/
    left: 50%;
    top: 50%;
    margin-left: -378px;
    margin-top: -232.5px;

    /** element alignment **/
    display:flex;
    flex-direction:row;

}

.login-content-container .left {
    position:relative;
    flex:1.4;
    padding:30px;
}

.login-content-container .right {
    overflow:hidden;
    flex:1;
}

.login-content-container .right img {
    height:600px;
    /* width:auto; */
    position:relative;
    /* height:100%; */
    left:-70%;
}


.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}


.login-content-exit-button {
    position:absolute;
    top:18px;
    right:18px;    
    width: 30px;
    height: 30px;
    font-size: 0;
    border-radius: 10px;
    background: #f2f3f6;
    display: inline-block;
    z-index:100;
}

.login-content-exit-button::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: url(./btn-cancel.svg) no-repeat;
    background-position: 50%;
}


.login-content-container .login-header-text {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:2rem;
    padding-top:0px;
    padding-bottom:5px;
    margin-bottom:5px;
    font-weight:bold;
    color:white;
}


.login-content-container .login-subheader-text {
    font-size:1.6rem;
    font-weight:bold;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color:white;

}

.login-content-container .success-button {
    margin-top:20px;
    margin-bottom:5px;
}

.login-content-container .register-button {
    position:absolute;
    bottom:20px;
    right:30px;
}


.description {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color:#646568;
    font-size:0.8rem;    
    margin-top:10px;
}

@media ( max-width: 755px )  {

    .login-content-container  {
        position:fixed;
        left: 0;
        top:0;

        margin-left: 0;
        margin-top: 15px;

        height:100vh;
        width:100vw;

        border-radius:0px;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
    }

    .login-content-container .left {
        flex:1;
    }

    .login-content-container .right {
        display:none;
    }

    .login-content-container .login-header-text {
        padding-top:30px;
    }

    .login-content-container .register-button {
        margin-top:20px;
        position: static;  
        width:100%;
    }


}


